
@{
    ViewBag.Title = "Task_1";
}

<h1>Задача №1</h1>

<div>
    <table class="table">
        <caption>Добыча драгоценных камней</caption>
        <thead>
            <tr>
                <th></th>
                <th>2010</th>
                <th>2012</th>
                <th>2014</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Сапфиры</td>
                <td rowspan="2" class="centered-cell" style="vertical-align: middle;">1483</td>
                <td>4532</td>
                <td>6743</td>
            </tr>
            <tr>
                <td>Рубины</td>
                <td>3835</td>
                <td>7482</td>
            </tr>
            <tr>
                <td>Алмазы</td>
                <td>683</td>
                <td colspan="2" class="centered-cell">238</td>
            </tr>
        </tbody>
    </table>
</div>