
@{
    ViewBag.Title = "Task_2";
}

<h2>Задача №2</h2>

<div class="container_Task_2">
    <h1 class="center_h1">Деятельность компании "ИСКОН" в области пищевой промышленности</h1>

    <h2 class="center_h2">Основные направления деятельности:</h2>
    <ol class="task_2_ol">
        <li class="task_2_li"><strong>Разработка и производство оборудования:</strong> Компания создает современное оборудование и технологические линии для производства пищевых продуктов, включая оборудование для мясопереработки, молочной промышленности, хлебопечения и других отраслей.</li>
        <li class="task_2_li"><strong>Исследования и разработки:</strong> "ИСКОН" проводит исследования и разработки новых технологий, методов производства и ингредиентов для улучшения качества и конкурентоспособности пищевых продуктов.</li>
        <li class="task_2_li"><strong>Консалтинг и обучение:</strong> Компания предоставляет консалтинговые услуги и обучение персонала в области пищевой промышленности, помогая предприятиям оптимизировать процессы производства и улучшить качество продукции.</li>
        <li class="task_2_li"><strong>Импорт и экспорт продукции:</strong> "ИСКОН" занимается импортом и экспортом пищевой продукции, оборудования и ингредиентов, обеспечивая клиентов качественными и инновационными решениями.</li>
    </ol>

    <h2 class="center_h2">Исследования в области пищевой промышленности:</h2>
    <ol class="task_2_ol">
        <li class="task_2_li">Исследования новых ингредиентов и добавок.</li>
        <li class="task_2_li">Разработка новых технологий производства.</li>
        <li class="task_2_li">Исследования потребительских предпочтений и трендов.</li>
        <li class="task_2_li">Исследования в области безопасности продуктов.</li>
        <li class="task_2_li">Экологические исследования.</li>
    </ol>

    <p class="font_p">В целом, компания "ИСКОН" является ведущим игроком в области инноваций в пищевой промышленности и предоставляет широкий спектр услуг и продуктов для производителей пищевых продуктов.</p>
</div>